<app-navbar></app-navbar>
<div class="container">
  <!-- Başlık Kartı -->
  <div class="row">
    <div class="col-md-12 mb-4">
      <div class="card">
        <div class="card-header d-flex justify-content-center align-items-center">
          <h4 class="card-title">Sepetteki Ürünler</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div *ngFor="let product of cartProducts" class="col-md-4">
      <div class="card mb-4">
        <!-- Kart Başlığı ve Resim -->
        <div class="card-header">
          <div class="image">
            <img class="fl" [src]="product.pictureurl?.toString() || defaultUrl" alt="Product Image" style="max-width: 100%; height: auto;" />
          </div>
          <h4 class="card-title">{{ product.name }}</h4>
        </div>

        <!-- Ürün Detayları Listesi -->
<ul class="list-group list-group-flush">
  <li class="list-group-item">
      <strong>Price:</strong> {{ product.price }} TRY
  </li>

  <!-- Quantity Ekle -->
  <li class="list-group-item">
      <strong>Quantity:</strong>  {{ product.quantity}}
  </li>
</ul>
      </div>
    </div>
  </div>

  <!-- Toplam Tutar Alanı -->
<div class="row total-card">
  <div class="col-md-12 mb-4">
      <div class="card">
          <div class="card-header d-flex justify-content-between align-items-center">
              <h4 class="card-title">Toplam Tutar</h4>
              <h4>{{totalAmount }} TRY</h4>
          </div>
      </div>
  </div>
</div>

<!-- Buton Grubu -->
<div class="row">
  <div class="col-md-12">
      <button class="btn btn-success confirm-btn" (click)="confirmCart()">Sepeti Onayla</button>
  </div>
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>
