<app-navbar></app-navbar>
<div class="container">
  <!-- Başlık Kartı -->
  <div class="row">
    <div class="col-md-12 mb-4">
      <div class="card">
        <div class="card-header d-flex justify-content-center align-items-center">
          <h4 class="card-title">Ürünler</h4>
        </div>
      </div>
    </div>
  </div>

  <!-- Ürün Detayı Kartları -->
  <div class="row">
    <div *ngFor="let product of products" class="col-md-4" >
      <!-- Kart içeriği -->
      <div class="card mb-4">
        <!-- Kart Başlığı ve Resim -->
        <div class="card-header">
          <div class="image">
            <img class="fl" [src]="product.pictureurl?.toString() || defaultUrl" alt="Product Image" style="max-width: 100%; height: auto;" />
          </div>
          <h4 class="card-title">{{ product.name }}</h4>
        </div>

        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <strong>Price:</strong> {{ product.price }} TRY
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <!-- Sepete Ekle ve Detay Butonları -->
            <button class="btn btn-success" [style.width.px]="150" (click)="addToCart(product)">Sepete Ekle</button>
            <button class="btn btn-primary" [style.width.px]="150" (click)="goToProductDetail(product)">Ürün Detayı</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>
